<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop | Ecommerce web design</title>
    <link rel="shortcut icon" href="../static/img/icons8-cafe-32.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/contacto.css">
</head>
<body>
    <header>
        <div class="container-hero">
            <div class="container hero">
                <div class="">
                    <img src="../static/img/_2def7ab1-8018-4086-98bc-2c16a9109a59.jfif" alt="">
                </div>

                <div class="container-logo">
                    <i class="fa-solid fa-mug-hot"></i>
                    <h1 class="logo"><a href="">Coffee Shop</a></h1>
                </div>

                <div class="container-user">
                   <a href="./loginRegister.html"><i class="fa-solid fa-user" ></i></a>
                    <a href="./carrito.html">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                    <div class="content-shopping-cart">
                        <!-- <span class="text">Carrito</span>
                        <span class="number">(0)</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>
                <ul class="menu">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./shop.html">Tienda</a></li>
                    <li><a href="../HTML/nosotros.html">Nosotros</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>

                <form class="search-form">
                    <input type="search" placeholder="Buscar...">
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </nav>
        </div>
    </header>
    <div class= "section">
        <div>   
            <section>
                <h3><b>SOBRE NOSOTROS</b></h3>

                    <p>En Coffee Shop, nuestra pasión por el café y los productos artesanales nos inspira a ofrecer una experiencia única a cada uno de nuestros clientes. Desde el corazón de nuestra cafetería, seleccionamos cuidadosamente ingredientes de la más alta calidad para crear una variedad de productos envasados que reflejan nuestro compromiso con la excelencia y el sabor.</p>

                    <p>Nuestro equipo está dedicado a brindar no solo una deliciosa taza de café, sino también una amplia selección de productos gourmet para llevar a casa. Ya sea un exquisito grano de café, una mezcla de té artesanal o una delicia recién horneada, cada uno de nuestros productos es elaborado con amor y atención al detalle.</p>

                    <img src="../static/img/cafe-1869656_1920.jpg" alt="">

                    <p>Creemos en la importancia de apoyar a los productores locales y en la sostenibilidad, por lo que trabajamos estrechamente con proveedores que comparten nuestros valores. Esto nos permite ofrecer productos frescos, auténticos y llenos de sabor que no solo deleitan el paladar, sino que también contribuyen a un futuro más sostenible.

                    <p>En Coffee Shop, cada cliente es parte de nuestra familia. Nos esforzamos por crear un ambiente acogedor y cálido donde puedas relajarte, disfrutar de una buena conversación y descubrir nuevos sabores. Gracias por ser parte de nuestra historia y permitirnos ser parte de tus momentos más especiales.

                    ¡Te esperamos en Coffee Shop para compartir nuestra pasión por el buen café y los productos gourmet!</p>
            </section>
        </div> 
    </div>

    <footer class="footer">
        <div class="lista-footer">
            <ul>
                <li><a href="./shop.html">Shop</a></li>
                <li><a href="./loginRegister.html">Registrarse</a></li>
                <li><a href="./loginRegister.html">Login</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
        <div class="redes-footer">
            <a href="" class="fa-brands fa-pinterest"></a>
            <a href="" class="fa-brands fa-google"></a>
            <a href="" class="fa-brands fa-instagram"></a>
            <a href="" class="fa-brands fa-whatsapp"></a>
        </div>
        <p>All rights reserved 2024 - Coffee Shop &copy;</p>
    </footer>
    <script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
</body>
</html>