*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-size: cover;
}

.container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
    
}
/* Parte de Iniciar Seción*/
.informacion{
    height: 100%;
    width: 40%;
    display: flex;
    align-self: center;
    text-align: center;
    background-color: #c7a17a;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.info-childs{
    width: 100%;
    padding: 40% 0;
    
}
/*h2 bienvenido*/
.info-childs h2{
    font-size: 2.5rem;
    color: #333;
}
/*Parrafo*/
.info-childs p{
    margin: 15px 0;
    color: #555;
}
/*Boton iniciar seción*/
.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #583030;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s ease;
}
.info-childs input:hover{
    background-color: #583030;
    border: none;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}

/*Crear cuenta*/
.form-informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-informacion-childs{
    padding: 0 30px;
}
/*Titulo crea cuenta*/
.form-informacion-childs h2{
    color: #333;
    font-size: 2rem;
}
/*Parrafo*/
.form-informacion-childs p{
    color: #555;
}
/*Iconos*/
.icons{
    margin: 15px 0;
}
.icons i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #c7a17a;
    border: solid thin #c7a17a;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}
.icons i:hover{
    background-color: #c7a17a;
    color: #fff;
}
.form {
    margin: 30px 0;
}
.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}
.form label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border: radius 20px;
    color: #333;
}
.form label i{
    color: #a7a7a7;
}
.form input[type="submit"]{
    background-color: #c7a17a;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}
.form input[type="submit"]:hover{
    background-color: #c7a17a;
}
/* Cambio formulario*/
/*.hide{
    display: none;
}
*/
.hide{
    position: absolute;
    transform: translateY(-300%);
}


/*Alertas!!!*/
.form div .alerta{
    width: 290px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}
.form  .alerta-error,
.form  .alerta-exito{
    display: none;
}

.form .alertaError{
    display: block;
    background-color: #f66060;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: 0.8rem;
}
.form .alertaExito {
    display: block;
    background-color: #0ca828;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: 0.8rem;
}

.form .error{
    outline: solid 2px #9d2222;
}
/*Boton Volver*/
.volver{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 18px;
    text-align: center;
    font-size: 40px;
    color: rgb(57, 6, 6);
    line-height: 100px;
    border-radius: 50%;
    background-color: #bf9b9b;
    bottom: 50%;
    animation-duration: 2s;
    animation-name: volver;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes volver{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}






/*Responsive*/
@media screen and (max-width:1150px) {
    html{
        font-size: 12px;
    }  
    .volver{
        position: fixed;
        top: 0%;
    } 
}
@media screen and (max-width:750px) {
    html{
        font-size: 12px;
    }   
}

@media screen and (max-width:580px) {
    html{
        font-size: 15px;
    }   
    .container-form {
        height: auto;
        flex-direction: column;
    }
   
    
    .informacion{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-informacion{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        
    }
}